<div class="inner" id="footer">
	<div class="footer">
		<div class="footer-left">
			<h2>获取帮助</h2>
			<ul>
				<li><a href="/html/list.html">购物</a></li>
				<li><a href="/html/list.html">男子</a></li>
				<li><a href="/html/list.html">女子</a></li>
				<li><a href="/html/list.html">CUSTOMS</a></li>
				<li><a href="/html/list.html">VAULT BY VANS</a></li>
				<li><a href="/html/list.html">职业鞋款</a></li>
				<li><a href="/html/list.html">查找店铺</a></li>
			</ul>
			<ol>
				<li><a href="##">公司</a></li>
				<li><a href="##">常见问题</a></li>
				<li><a href="##">使用条款</a></li>
				<li><a href="##">隐私政策</a></li>
				<li><a href="##">可持续发展</a></li>
			</ol>
		</div>
		<div class="footer-center">
			<dl>
				<h2>联系我们</h2>
				<dt>电子邮件</dt>
				<dd><a href="##">CONTACTUS@VANS.COM.CN</dd>
				<dt>地址</dt>
				<dd>中国上海市南京西路688号8楼</dd>
			</dl>
		</div>
		<div class="footer-right">
			<h3>在这些地方找到我们</h3>
			<ul>
				<li><span></span></li>
				<li><span></span></li>
				<li><span></span></li>
				<li><span></span></li>
				<li><span></span></li>
			</ul>
		</div>
	</div>
</div>