<div class="inner">
	<div class="header">
		<div class="header-left">
			<a href="/"></a>
		</div>
		<div class="header-top">
			<ul>
				<li><a href="/html/car.html">我的购物车</a></li>
				<li>
					<a href="/html/login.html"  id="username">登录/</a>
					<a href="/html/register.html" id="register">注册</a>
				</li>
				<li><a href="##">搜索店铺</a></li>
			</ul>
		</div>
		<div class="header-right">
			<ul>
				<li id="_1list" class="hoverchange"><a href="/html/list.html">关于VANS</a></li>
				<i></i>
				<li><a href="/html/list.html">热门</a></li>
				<li class="hoverchange"><a href="/html/list.html">男子</a></li>
				<i></i>
				<li class="hoverchange"><a href="/html/list.html">女子</a></li>
				<i></i>
				<li><a href="/html/list.html">CUSTOMS定制鞋</a></li>
				<li class="hoverchange"><a href="/html/list.html">更多产品</a></li>
				<i></i>
			</ul>
			<input type="text" placeholder="搜索VANS"/>
		</div>
		    <div class="_1list list">
			<ul>
				<span></span>
				<li><a href="/html/list.html">THIS IS OFF THE WALL</a></li>
				<li><a href="/html/list.html">运动员</a></li>
				<li><a href="/html/list.html">HOUSE OF VANS</a></li>
				<li><a href="/html/list.html">新闻</a></li>
			</ul>
			</div>
		<div class="_2list list">
			<span></span>
			<ul>
				<li><a href="/html/list.html">鞋款</a></li>
				<li><a href="/html/list.html">服装</a></li>
				<li><a href="/html/list.html">配件</a></li>
				<li><img src="/static/images/eb851532e9e49e445d657f0ab09ff8b4d6240280.jpg"/></li>
			</ul>
		</div>
		<div class="_3list list">
			<span></span>
			<ul>
				<li><a href="/html/list.html">鞋款</a></li>
				<li><a href="/html/list.html">服装</a></li>
				<li><a href="/html/list.html">配件</a></li>
				<li><img src="../../static/images/2277299c9fb5058fd1fc52b557f610c688d6e160.jpg"/></li>
			</ul>
		</div>
		<div class="_4list list">
			<span></span>
			<ul class>
				<li><a href="/html/list.html">CLASSICS经典款</a></li>
				<li><a href="/html/list.html">PRO SKATE职业鞋款</a></li>
				<li><a href="/html/list.html">SNOW职业滑雪系列</a></li>
				<li><a href="/html/list.html">VAULT BY VANS</a></li>
			</ul>
		</div>
	</div>
</div>